:root {
    // Queries
    --breakpoint-tablet: 1024px;
    --breakpoint-mobile: 600px;

    // Margins
    --margin-xxl: 48px;
    --margin-xl: 32px;
    --margin-l: 24px;
    --margin-m: 16px;
    --margin-s: 12px;
    --margin-xs: 8px;
    --margin-xxs: 4px;
}